'fileTypes': [
  'jos'
]
'foldingStartMarker': '^.*{$'
'foldingStopMarker': '^.*}$'
'isDisabled': false
'name': 'Juniper Junos'
'patterns': [
  {
    'include': '#curly_braces'
  }
  {
    'include': '#ip_address'
  }
  {
    'include': '#subnet_mask'
  }
  {
    'include': '#wildcard_mask'
  }
  {
    'include': '#interfaces'
  }
  {
    'include': '#numbers'
  }
  {
    'include': '#keys'
  }
]
'repository':
  'ip_address':
    'patterns': [
      {
        'match': '\\b((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(/\\d+)?\\b'
        'name': 'constant.numeric.junos'
      }
    ]
  'subnet_mask':
    'patterns': [
      {
        'match': '\\s255\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}'
        'name': 'string.regexp.junos'
        'comment': 'most common subnet masks'
      }
    ]
  'wildcard_mask':
    'patterns': [
      {
        'match': '\\s0\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}[\/\\d{1,2}]*'
        'name': 'string.regexp.junos'
        'comment': 'most common wildcard masks'
      }
    ]
  'interfaces':
    'patterns': [
      {
        'begin': '(interfaces)(?:\\s)({)'
        'beginCaptures':
          '1':
            'name': 'constant.language.junos'
          '2':
            'name': 'keyword.operator.junos'
        'end': '(^})'
        'endCaptures':
          '1':
            'name': 'keyword.operator.junos'
        'patterns': [
          {
            'match': '(\\b[a-z]{1,4})([-|\\d])(.*)\\b'
            'name': 'keyword.other.interface'
          }
          {
            'include' : '#curly_braces'
          }
        ]
      }
    ]
  'numbers':
    'patterns': [
      {
        'match': '\\b\\d+(?=[\\s*|;])'
        'name': 'constant.numeric.junos'
        'comment': 'generic numbers'
      }
    ]
  'keys':
    'patterns': [
      {
        'match': '^(?:\\s*)\\b\\w*(?=\\s+{)'
        'name': 'constant.language.junos'
        'comment': 'key command'
      }
    ]
  'curly_braces':
    'patterns': [
      {
        'match': '[{|}]'
        'name': 'keyword.operator.junos'
        'comment': 'curly braces'
      }
    ]
'scopeName': 'source.juniper-junos-config'
